USE [master]
GO
/****** Object:  Database [QuizApp]    Script Date: 11/2/2023 8:29:36 PM ******/
CREATE DATABASE [QuizApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QuizApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QuizApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizApp]
GO
USE [QuizApp]
GO
/****** Object:  Table [dbo].[student]    Script Date: 11/2/2023 8:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[std_id] [int] IDENTITY(1,1) NOT NULL,
	[std_name] [nvarchar](20) NOT NULL,
	[std_password] [nvarchar](20) NOT NULL,
	[std_image] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[std_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 11/2/2023 8:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[ad_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_name] [nvarchar](20) NOT NULL,
	[ad_pass] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 11/2/2023 8:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](50) NOT NULL,
	[cat_fk_ad_id] [int] NULL,
	[cat_encrytped_string] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_questions]    Script Date: 11/2/2023 8:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_questions](
	[q_id] [int] IDENTITY(1,1) NOT NULL,
	[q_text] [nvarchar](300) NOT NULL,
	[QA] [nvarchar](300) NOT NULL,
	[QB] [nvarchar](300) NOT NULL,
	[QC] [nvarchar](300) NOT NULL,
	[QD] [nvarchar](300) NOT NULL,
	[QcorrectAns] [nvarchar](300) NOT NULL,
	[q_fk_cat_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[q_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_setExam]    Script Date: 11/2/2023 8:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_setExam](
	[examID] [int] IDENTITY(1,1) NOT NULL,
	[exam_date] [datetime] NULL,
	[exam_fk_stu] [int] NULL,
	[exam_name] [nvarchar](20) NOT NULL,
	[std_score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[examID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([std_id], [std_name], [std_password], [std_image]) VALUES (1, N'Balaj', N'balaj456', N'~/Content/upload/1520290456IMG_4946.JPG')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_admin] ON 

INSERT [dbo].[tbl_admin] ([ad_id], [ad_name], [ad_pass]) VALUES (1, N'Ashhad', N'admin123')
SET IDENTITY_INSERT [dbo].[tbl_admin] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student__BA9CAC34F0D98420]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[student] ADD UNIQUE NONCLUSTERED 
(
	[std_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_admi__84D9FB7A9277A3EC]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_admin] ADD UNIQUE NONCLUSTERED 
(
	[ad_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_ques__32152F2C652D2CEC]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_questions] ADD UNIQUE NONCLUSTERED 
(
	[QD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_ques__32152F2DEDCBFC46]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_questions] ADD UNIQUE NONCLUSTERED 
(
	[QC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_ques__32152F2EEAB165D7]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_questions] ADD UNIQUE NONCLUSTERED 
(
	[QB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_ques__32152F2F5A15B3E7]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_questions] ADD UNIQUE NONCLUSTERED 
(
	[QA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_ques__788BB8DE168818E8]    Script Date: 11/2/2023 8:29:37 PM ******/
ALTER TABLE [dbo].[tbl_questions] ADD UNIQUE NONCLUSTERED 
(
	[q_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_category]  WITH CHECK ADD FOREIGN KEY([cat_fk_ad_id])
REFERENCES [dbo].[tbl_admin] ([ad_id])
GO
ALTER TABLE [dbo].[tbl_questions]  WITH CHECK ADD FOREIGN KEY([q_fk_cat_id])
REFERENCES [dbo].[tbl_category] ([cat_id])
GO
ALTER TABLE [dbo].[tbl_setExam]  WITH CHECK ADD FOREIGN KEY([exam_fk_stu])
REFERENCES [dbo].[student] ([std_id])
GO
USE [master]
GO
